<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      .class1, .class2 {
          font-family: sans-serif;
          line-height: 1.5;
          padding: 10px;
          border: 1px solid #555;
          width: 250px;
      }
    </style>
  </head>
  <body>
    <h1>Alumni Advisory
      <nav><a href="index.html">Home</a><a href="about.html">About Us</a><a href="#">Contact Us</a></nav>
    </h1>
    <h1 id="pageTitle"> Welcome to Alumni Advisory</h1>
    <p class="big-para">
      This
      is 
      para
    </p>
    <ul>
      <li> 
        <input type="password" name="pwd" style="color:red" data-js="NOT OK">
        <div class="my-div class1 class2"></div>
        <div style="background-color:red;color:blue;"></div><img src="Image.png" alt="a photo">
      </li>
      <li> 
        <input type="text" disabled>
      </li>
      <li> 
        <p>85-Qais<strong>Qais</strong></p>
        <div class="text">Qais</div>
        <p>99-Manar<strong>Qais</strong></p>
        <div class="text">Qais</div>
        <p>85-Qais<strong>Qais</strong></p>
        <div class="text">Qais</div>
        <p>99-Manar<strong>Qais</strong></p>
        <div class="text">Qais</div>
      </li>
    </ul>
  </body>
</html>